<%- include('partials/header')-%>

<h1>Home</h1>
<p><%= homeContent  %> </p>

<% postContent.forEach(function(post) { %>
 <h1> <%= post.title  %>  </h1>  
<p>
    <%= post.content %>...
    <% let url = "/posts/" + post.title %> 
    <a href = " <%= url  %>"  >Read more</a>
 </p>
<% }); %>

<%- include('partials/footer')  -%>